
p {
    color: red;
}

div {
    text-decoration: underline;
}

li {
    font-size: 20px;
    color: #ccc;
    background: cadetblue;
}

#blue {
    color: blue;
}

.brown {
    color: brown;
}

li.brown {
    text-decoration: underline;
    background: coral;
}

#button {
    text-decoration: none;
    background: rgb(139, 250, 181);
    width: 150px;
    color: #eee;
    text-align: center;
    padding: 20px;
    margin: 20px;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid black;
    border-radius: 5px;
    transition: all .5s;
}

#button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background: rgb(189, 35, 35);
}

#button:active {
    background: rgb(59, 57, 170);
}